:root{
    --dark: #0a0a0a;
    --yellow: #ffcc00;
    --light: #ffffff;
    --purple: #4f28ff;
}

.blue{
    background-color: var(--purple) !important;
    color:#4f28ff;
  }

  a.effect-underline:after {
	content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--purple);
  transition: width .3s;
}

a.effect-underline:hover:after {
    width: 100%;
    transition: width .3s;
  }

  @media only screen and (min-width: 1200px) and (min-width: 768px){
    .top {
       padding-top: 8rem;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .top {
        padding-top: 2rem;
    }
 }

  
.button{
    background-color: #4f28ff !important;
}

.center {
    margin: auto;
    width: 50%;
    border: transparent;
    padding: 10px;
    text-align: center;
}

body {

    font-size: 1rem;
    font-weight: 500;
    background-color: var(--light);
}

.font-weight-boldd {
 
    font-size: 1rem;
    font-weight: bolder;
}

#index{
    top: 0;
    background-image: url('/b_index.png');
    background-size: cover;
    height: 105vh;
    background-position: center;
    display: block;
    margin: 0;
    padding-bottom: 0%;
    padding: 0;
  }

  #wave{
    top: 0;
    background-image: url('/wave_home.svg');
    background-size: cover;
    height: 38vh;
    background-position: center;
    display: block;
    margin: 0;
    padding: 0;
  }

.bg-light { background-color: var(--light) !important; }
.bg-yellow { background-color: var(--yellow) !important; }
.bg-dark { background-color: var(--dark) !important; }

.text-dark {color: var(--dark) !important;}

.text-yellow {color: var(--yellow) !important; }

.py-6 { 
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.py-2 {
    padding-top: 2rem;
}

.mb-3{
    padding-bottom: 1rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.member-info {
    bottom: 2rem;
    left: 2rem;
}

.btn-yellow {
    background-color: var(--yellow);
}
.font-weight-thick {
     
    font-size: 3rem;
    font-weight: bolder;
}

.position-bottom {
    padding-top: 1rem;
    text-align: left;
}

.p-top {
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.p-none {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.p-topp {
    padding-top: 4rem;
}

.p-left {
    padding-left: 10rem;
}

.p-leftcard {
    padding-left: 1rem;
}

.p-btm {
    padding-bottom: 4rem;
}

.p-bt {
    padding-bottom: 2rem;
}
.p-modalb {
    padding-bottom: 2rem;
}
.p-card {
    padding-left: 0rem;
}

.right-to-left li {
    float: right !important;
  }

  .p-leftt {
      padding-left: 8rem;
  }

 .card-l {
     border: none;
 }

 .p-close {
     padding-top: 1rem;
     padding-right: 1rem;
 }

 .p-modal {
     padding-left: 3rem;
     padding-right: 3rem;
 }

 .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
 }

 .contact-us {
     padding-top: 7rem;
     padding-bottom: 7rem;
 }

 .p-lft {
     padding-left: 1rem;
 }

 .p-right
 {
     padding-left: 5rem;
 }

 .p-r {
     padding-right: 1rem;
 }
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
